<tr>
  <td class="align-center"><%= badge.name %> </td>
  <td class="align-center"><%= image_tag('/badges/' + badge.image_name, size: "100")%></td>
  <td class="align-center"><%= badge.get_rule_info(badge.rule, :description) %></td>
  <td class="align-center"><%= badge.parameter %></td>
  <td><%= link_to t('.edit'), edit_admin_badge_path(badge)%></td>
  <td><%= link_to t('.delete'),
                admin_badge_path(badge) ,
                method: :delete,
                data: { confirm: t('.confirm') }%>
  </td>
</tr>
