<h2 class="h2">
  <%= t('.header', title: @result.test.title) %>

  <% if @result.test.timer %>
    <%= content_tag :span, "",
                    class: "timer",
                    data: { seconds_left: @result.seconds_left } %>
  <% end %>
</h2>

<p>
  <div class="progress">
    <%= content_tag :div,
                  @result.progress_bar_string ,
                  class: "bar",
                  data: { percent: @result.passing_percentage } %>
  </div>
</p>

<h4 class="h4">
  <%= @result.current_question.body %>
</h4>

<p>
<%= form_with url: result_path(@result), method: :put, local: true do |form| %>
  <% if @result.current_question.check %>
    <p>
      <%= form.collection_check_boxes :answer_ids, @result.current_question.answers, :id, :body, include_hidden: false do |b| %>
        <p>
          <%= b.check_box id: "answer_ids_#{b.object.id}" %>
          <%= b.label%>
        </p>
      <%end%>
    </p>
  <% else %>
    <p>
      <%= form.collection_radio_buttons :answer_ids, @result.current_question.answers, :id, :body, include_hidden: false do |b| %>
        <p>
          <%= b.radio_button id: "answer_ids_#{b.object.id}" %>
          <%= b.label %>
        </p>
      <%end%>
    </p>
  <% end %>

  <p><%= link_to 'Gist Question', gist_result_path(@result), method: :post %></p>
  <p><%= form.submit t('.next') %></p>
<%end%>
</p>
