<p>
  <h1><%= t('.header')  %></h1>
  <h2><%= @answer.question.body%></h2>
</p>

<p>
  <strong><%= Answer.model_name.human %></strong>
  <%= @answer.body %><br>
  <strong><%= Answer.human_attribute_name(:correct) %>:</strong>
  <%= @answer.correct %>
</p>


<%= link_to t('.edit'), edit_admin_answer_path(@answer) %> |
<%= link_to t('.back'), admin_question_path(@answer.question) %>
