<dl class="row">
  <dt class="col-sm-3"><%= t('.header') %></dt>
  <dd class="col-sm-9"><%= @question.test.title %></dd>

  <dt class="col-sm-3"><%= Question.human_attribute_name(:body) %></dt>
  <dd class="col-sm-9"><%= @question.body %></dd>
</dl>

<h2 class="h2"><%= t('.answers')%></h2>

<%= link_to t('.new_answer'), new_admin_question_answer_path(@question) %>

<table class="table text-center">
  <thead class="thead-light">
    <tr>
      <th scope="col"><%= t('.table.body') %></th>
      <th scope="col"><%= t('.table.correct') %></th>
      <th scope="col" colspan="3"><%= t('.table.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @question.answers %>
  </tbody>
</table>

<%= link_to t('.edit'), edit_admin_question_path(@question) %> |
<%= link_to t('.back'), admin_test_path(@question.test) %>
