<h1><%= t('.header') %></h1>

<p>
  <%= link_to t('.view_all_badges'), badges_path %>
</p>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col"><%= Badge.human_attribute_name(:name) %></th>
      <th scope="col"><%= Badge.human_attribute_name(:image_name)%></th>
      <th scope="col"><%= Badge.human_attribute_name(:rule)%></th>
      <th scope="col"><%= Badge.human_attribute_name(:parameter)%></th>
    </tr>
  </thead>
  <tbody>
    <%= render @achievements %>
  </tbody>
</table>
