<p>
  <strong><%= Test.human_attribute_name(:title)%></strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= Test.human_attribute_name(:level)%></strong>
  <%= @test.level %>
</p>

<h2><%= t('.questions')%></h2>

<%= link_to t('.new_question'), new_admin_test_question_path(@test) %>

<table >
  <tr>
    <th><%= t('.table.body')%></th>
    <th><%= t('.table.num_of_answers')%></th>
    <th colspan="3"><%= t('.table.actions')%></th>
  </tr>

  <%= render @test.questions %>

</table>

<%= link_to t('.edit'), edit_admin_test_path(@test) %> |
<%= link_to t('.back'), admin_tests_path %>
