<h1><%= t('.header')%></h1>

<table >
  <tr>
    <th><%= Test.human_attribute_name(:title) %></th>
    <th><%= Test.human_attribute_name(:level)%></th>
    <th><%= t('.table.num_of_questions')%></th>
    <th><%= t('.table.actions')%></th>
  </tr>

  <%= render @tests %>

</table>
